*~
*.swp
Session.vim
__pycache__

# This should take care of build all files.
# But an accidental in-source build still gives value to
# ignoring some other file types.
build/*

Debug
Release
*vcxproj*.user

*.d
*.o
*.a

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
