*~
*.swp
Session.vim
__pycache__

# This should take care of build all files.
# But an accidental in-source build still gives value to
# ignoring some other file types.
build
docs

Debug
Release
*vcxproj*.user

*.d
*.o
*.a
